#onboarding-screen
    .swiper-slide
        text-align center
        padding-top 60%
        p.onboarding-title
            font-family Roboto
            font-size 24px
            color #454545
            font-weight 700
        p.onboarding-description
            font-family Roboto
            font-size 16px
            color #707070
            font-weight 400
            width 60%
            margin-left auto
            margin-right auto