.page#login-screen
    .page-content
        flex-cont(column, center, unset)
        overflow-y hidden

        .sqr_bck
            deg = -37.5deg
            &#sqr1
                sqr(450px, deg)
                top -395px
                left -108px
                z-index -1

            &#sqr2
                sqr(290px, deg)
                top -35px
                right -216px
                z-index -1
            
            &#sqr3
                sqr(290px, deg)
                bottom -175px
                left -216px
                z-index -1

            &#sqr4
                sqr(290px, deg)
                bottom -235px
                left -10px
                z-index -1

        .logo-cont
            flex-cont(row, center, center)
            flex-grow 2.5
            align-items flex-end

            img
                transform translate(-13.5px)

        .inputs
            flex-grow 0.5

        .btns-cont.face
            flex-grow 1
            align-items flex-start

        .btns-cont.two
            flex-grow 1.5

        .btns-cont.pass
            flex-grow 0.5
            align-items center

@media (min-width 480px)
    .page-content
        align-items center !important

        .logo-cont, .inputs, .btns-cont.face, .btns-cont.two, .btns-cont.pass
            min-width 480px

@media screen and (min-width 1024px) and (orientation landscape)
    .page#login-screen
        .sqr_bck
            &#sqr1
                left calc(-108px + 30%)

            &#sqr3
                left calc(-216px + 30%)

            &#sqr4
                left calc(-10px + 30%)