.page#login-screen
    background Grey_light_1

    .sqr_bck
        &#sqr1
            sqr(450px)
            top -395px
            left -108px

        &#sqr2
            sqr(290px)
            top -35px
            right -216px

        &#sqr3
            sqr(290px)
            bottom -175px
            left -216px

        &#sqr4
            sqr(290px)
            bottom -235px
            left -10px

    .page-content
        flex-cont(column, center, unset)
        flex-basis 150%

        .logo-cont
            flex-cont(row, center, center)
            flex-grow 2.5
            align-items flex-end

            img
                transform translate(-13.5px)

        .inputs
            flex-grow 0.5

        .btns-cont.face
            flex-grow 1
            align-items flex-start

        .btns-cont.two
            flex-grow 1.5

        .btns-cont.pass
            flex-grow 0.5
            align-items flex-end
