.page#login-screen
    background Grey_light_1

    .sqr_bck
        deg = -37.5deg

        &#sqr1
            sqr(450px, deg)
            top -395px
            left -108px

        &#sqr2
            sqr(290px, deg)
            top -35px
            right -216px

        &#sqr3
            sqr(290px, deg)
            bottom -175px
            left -216px

        &#sqr4
            sqr(290px, deg)
            bottom -235px
            left -10px

    .page-content
        flex-cont(column, center, unset)

        .logo-cont
            flex-cont(row, center, center)
            flex-grow 2.5
            align-items flex-end

            img
                transform translate(-13.5px)

        .inputs
            flex-grow 0.5

        .btns-cont.face
            flex-grow 1
            align-items flex-start

        .btns-cont.two
            flex-grow 1.5

        .btns-cont.pass
            flex-grow 0.5
            align-items flex-end
