.page
    &#recovery, &#recovery-mail, &#recovery-new-pass
        .sqr_bck
            deg = -37.5deg

            &#sqr1
                sqr(290px, deg)
                top -55px
                right -270px

            &#sqr2
                sqr(400px, deg)
                bottom -110px
                left -345px

            &#sqr3
                sqr(290px, deg)
                bottom -50px
                right -200px

    .page-content
        &#recovery, &#recovery-mail, &#recovery-new-pass
            flex-cont(column, center, unset)

            .header-cont
                flex-grow 0

                h1
                    color Grey_dark_2

            .logo-cont
                flex-grow 1
                flex-cont(column, center, center)

                .logo
                    transform translate(0px, 5%)

            .text-cont
                flex-grow 0
                padding 0px 40px
                flex-cont(column, center, center)

                .text
                    margin 0px

            .inputs
                flex-grow 0

            .btns-cont
                flex-grow 2

        &#recovery
            .text-cont
                padding 0px 15px 10px 15px

            .btns-cont
                align-items flex-start
                padding-top 40px

        &#recovery-new-pass
            .text-cont
                flex-grow 0.5
