.page
    &#home-memories
        background Grey_light_1

        .page-content
            .searchbar
                border-radius none 
                box-shadow none
            .searchbar-inner
                position relative
            .list.inset.view_list1,.list.inset.view_list2
                margin-top 0
                display none
            span.switch1, span.switch2
                vertical-align bottom
                float right
                color blue_dark
                padding-right 25px
            .sqr_bck
                deg = -36deg

                &#sqr1
                    sqr(230px, deg)
                    top -245px
                    right -45px
                    z-index -1

                &#sqr2
                    sqr(230px, deg)
                    top -25px
                    right -180px
                    z-index -1

                &#sqr3
                    sqr(230px, deg)
                    top -65px
                    left -225px
                    z-index -1

            .footer
                overflow hidden
                position relative
                padding-top 200px
                margin -200px -15px -15px -15px
                z-index -1

                .sqr_bck
                    deg = -36deg

                    &#sqr4
                        sqr(230px, deg)
                        bottom -230px
                        left 110px
                        z-index -1

                    &#sqr5
                        sqr(230px, deg)
                        bottom -110px
                        left -60px
                        z-index -1

            .contacts-cont
                padding 20px 10px 20px 5px
                flex-cont(row, space-between, center)

                .contacts-title
                    font-template(500, 20px, 23px)
                    color Grey_dark_3

            .contacts-swiper
                margin-bottom 20px

                .person-cont
                    width 80px
                    height 106px
                    flex-cont(column, space-between, center)
                    .badge
                        width 200px
                    .avatar-person
                        height 80px
                        width 80px
                        display flex

                        img
                            width 100%
                            border-radius 50%

                    .name-person
                        margin 0px
                        font-template(500, 13px, 15px)
                        color Grey_dark_3

            .create-swiper
                .memory
                    flex-cont(row, unset, center)

                    .card-content
                        flex-grow 1
                        flex-cont(row, center, center)

                        p
                            font-template(500, 18px, 21px)
                            color Grey_dark_3

            .swiper-container
                overflow visible
                z-index 300

                .swiper-slide
                    transform unset

            .donate-swiper
                margin-bottom 40px

            .create-title, .scheduled-title, .later-title, .donate-title
                padding 20px 5px
                font-template(500, 20px, 23px)
                color Grey_dark_3

    
    &.page-with-card-opened
        &#home-memories
            .swiper-container
                z-index 298

            .donate-swiper
                z-index 301
