.page
    &#location-memory
        background Grey_light_1

        .page-content
            flex-cont(column, flex-start, stretch)
            .map-cont
                height 310px
                width auto
                margin 0px -15px

            .btns-cont
                margin-top auto
                margin-bottom 10px  