.page
    &#birthday-memory
        background Grey_light_1

        .page-content
            .note-title
                font-template(500, 20px, 24px)
                color Grey_dark_3

            .btns-cont
                padding 5px 0px 50px 0px

            .upload-title
                font-template(500, 20px, 24px)
                color Grey_dark_3
                padding 0px 20px

            .upload-cont
                flex-cont(column, unset, stretch)

                .ondemand-cont
                    padding 18px 8px
                    flex-cont(row, space-between, center)

                    .ondemand
                        padding-left 20px
                        flex-cont(row, unset, center)

                        h1
                            margin 0px
                            font-template(normal, 18px, 16px)
                            color Grey_dark_2

                        a
                            margin-left 10px
                            flex-cont(row, center, center)

                            i
                                font-size 20px
                                color Grey_light_3

            .progress-cont
                flex-cont(column, unset, stretch)
                padding 0px 10px

                .bar
                    margin 5px 0px

                    span.progressbar
                        background Grey_light_2
                        height 20px
                        border-radius 15px
                        span
                            background blue_light
                            border-radius 15px

                .desc
                    font-template(normal, 10px, 16px)
                    color Grey_dark_1
                    text-align center
                    margin 0px
