sqr(val, deg)
    width val
    height val
    background #fafafa
    box-shadow 2px 3px 8px rgba(black, 0.12), -2px -2px 4px rgba(white, 0.9)
    border-radius 20px
    transform rotate(deg)
    position absolute

box-shadow-button(x, y)
    box-shadow 2px 3px 8px rgba(0, 0, 0, 0.12), -2px -2px 4px rgba(255, 255, 255, 0.9), inset 1px 2px 0px x, inset -1px -2px 0px y

font-template(w, f, l)
    font-family Roboto
    font-style normal
    font-weight w
    font-size f
    line-height l

flex-cont(dir, cont, item)
    display flex
    flex-direction dir
    justify-content cont
    align-items item

center-absolute(var = absolute)
    position var
    top 50%
    left 50%
    transform translate(-50%, -50%)
