white = #ffffff
Grey_light_1 = #f9f9f9
Grey_light_2 = #f0f0f0
Grey_light_3 = #d2d2d2
Grey_dark_1 = #929292
Grey_dark_2 = #707070
Grey_dark_3 = #454545
black = #000000
blue_light = #39D6FB
blue = #00C6F4
blue_dark = #00B1DA
blue_face = #3B579D