.page
    &#add-card-info
        background Grey_light_1

        .page-content
            flex-cont(column, center, unset)

            .logo-cont
                flex-cont(row, center, center)
                flex-grow 8

            .inputs
                flex-grow 1

                .col-65
                    width 65%

                .col-25
                    width 25%

                .padd-r20
                    padding-right 20px

            .btns-cont
                flex-grow 2