.page
    &#membership-confirmed
        background Grey_light_1

        .page-content
            flex-cont(column, center, unset)

            .logo-cont
                flex-grow 3
                flex-cont(column, flex-end, center)

                .logo
                    .background
                        height 178px
                        width 178px
                        box-shadow 7.41667px 11.125px 29.6667px rgba(0, 0, 0, 0.12), -7.41667px -7.41667px 14.8333px rgba(255, 255, 255, 0.9), inset 0px 5px 0px #fdfdfd, inset 0px -5px 0px #f0f0f0

                    .feather
                        position absolute
                        clip-path ellipse(112% 90% at 62% -8.5%)
                        left 50%
                        transform translate(calc(-50% + -19px), 65px)

                    .check
                        position relative
                        right 25px
                        bottom -25px

                        img
                            position unset
                            transform unset
                            left unset

            .text-cont
                flex-grow 1
                flex-cont(row, center, center)
                font-template(500, 20px, 23px)
                color Grey_dark_2

            .btns-cont
                flex-grow 1.5
