.page#donations
    background Grey_light_1

    .page-content
        .swiper-container
            z-index 300
            top 50%
            transform translate(0%, -50%)
            overflow visible

            .swiper-slide
                transform unset

