.page
    &#membership-view
        background Grey_light_1

        .page-content
            flex-cont(column, flex-start, unset)

            p
                font-template(normal, 14px, 16px)
                color Grey_dark_3
                text-align left

            h1
                font-template(500, 18px, 21px)
                color Grey_dark_3

            h1, p
                margin 5px 30px

            .logo-cont
                flex-cont(row, center, center)
                flex-grow 3

                img
                    transform translate(-8px)

            .title-cont
                flex-grow 1
                flex-cont(column, center, flex-start)

            .text-cont
                flex-grow 1

                .text-title
                    margin-top 25px

                .text-cost
                    color blue

                .card-info
                    border-bottom 0.5px solid #D2D2D2
                    color blue
                    margin 15px 7px
                    padding 0px 7px

                    span
                        font-size 14px
                        transform rotate(-15deg)

                .mar-t15
                    margin-top 15px

            .btns-cont
                padding 25px 0px
                flex-grow 1