.page
    &#select-membership
        background Grey_light_1

        .page-content
            flex-cont(column, flex-start, unset)

            .text-cont
                padding 0px 10px

                h1.title2
                    font-template(500, 20px, 22px)
                    color Grey_dark_3
                    margin 40px 0px 0px 0px

                p.text
                    line-height 22px
                    color #929292
                    margin 0px
                    text-align left

            .plans-cont
                padding 25px 0px

                .btns-cont
                    flex-cont(row, space-around, center)

                p.title3
                    font-template(normal, 12px, 24px)
                    margin 5px 0px
                    color Grey_dark_3
                    width 100%
                    text-align center
                    border-top 0.5px solid #D2D2D2

                .icons-cont
                    flex-cont(row, space-around, center)

                    .icon
                        width 100px
                        flex-cont(row, center, center)

                        span
                            font-size 26px
                            color Grey_light_3

                            &.active
                                color blue_light

                .desc-cont
                    flex-cont(row, space-around, center)
                    border-top 0.5px solid #D2D2D2
                    margin 13px 0px

                    .item
                        width 100px

                        p
                            font-template(500, 12px, 14px)
                            text-align center
                            color Grey_light_3

                            &.active
                                color blue_light