@media screen and (min-width 1024px) and (orientation landscape)
    .navbars
        right 0

        .navbar
            position absolute
            width 70% !important
            right 0
            top 0
            left unset

    .toolbar
        left 65%

    .page
        .artwork
            background blue_light
            position absolute
            width 30%
            height 100%
            top 0
            left 0

        .footer
            position absolute
            width 70% !important
            right 0
            bottom 0

        .page-content, .navbar
            position absolute
            width 70% !important
            right 0
            top 0
            left unset

            .header
                .back-btn
                    visibility hidden

        &.page-with-card-opened
            &#donations
                .page-content
                    overflow visible

            &#home-memories
                .page-content
                    padding-left calc(30% + 15px) !important
                    left 0 !important
                    width 100% !important

@media (min-width 480px)
    .page-content, .footer
        align-items center !important

        .header-cont, .logo-cont, .text-cont, .inputs, .btns-cont, .btns-cont.face, .btns-cont.two, .btns-cont.pass, .family-cont, .title-cont
            min-width 480px

        .text-cont
            width 480px

        .swiper-container
            min-width 480px
            width 480px

    .navbar
        justify-content center
        display flex

        .navbar-inner
            position relative
            width 480px

@media (max-height 585px) and (min-height 565px)
    .card-expandable
        height 465px !important

        .card-content-padding
            height auto !important

/* ---------------------------------------------------- */
@media screen and (min-width 768px)
    .card-expandable:not(.card-tablet-fullscreen):not(.card-expandable-animate-width)
        .card-content
            width 100%

    .page
        &#recovery, &#recovery-mail
            .btns-cont
                flex-grow 1 !important

        &#recovery-mail
            .text-cont
                padding 0px 40px

/* ---------------------------------------------------- */
@media screen and (min-width 1024px)
    .navbars
        right 0

        .navbar
            position absolute
            width 100%
            right 0
            top 0
            left unset

    .page
        .footer
            position absolute
            width 100%
            right 0
            bottom 0

        .page-content, .navbar
            position absolute
            width 100%
            right 0
            top 0
            left unset

            .header
                .back-btn
                    visibility hidden

        &#create-contact, &#create-guardian
            .footer
                position absolute !important
                left 0 !important
                bottom 0 !important
                margin-left 0px !important
                width 100% !important

        &#home-memories
            .donate-title, .scheduled-title, .create-title, .contacts-cont
                width 480px
                margin auto

        &#login-screen
            .sqr_bck
                &#sqr1
                    left calc(-108px + 30%)

                &#sqr3
                    left calc(-216px + 30%)

                &#sqr4
                    left calc(-10px + 30%)

        &#signup-step1
            .footer
                position absolute !important
                left 0 !important
                bottom 0 !important
                margin-left 0px !important
                width 100% !important

        &#invite-admin
            .footer
                position absolute !important
                left 0 !important
                bottom 0 !important
                margin-left 0px !important
                width 100% !important

        &#add-card-info
            .logo-cont
                flex-grow 2 !important

            .inputs
                ul
                    height 100% !important
                    flex-cont(column, space-around, stretch)

        &#signup-confirm, &#membership-confirmed
            .logo-cont
                flex-grow 1.5 !important

            .btns-cont
                flex-grow 1 !important
                align-items flex-start !important

/* ------------------------------------------------------------ */
/* @media screen and (min-width 1200px) */