#ondemand-screen
    .condemand.cont
        .navbar a.link
            justify-content: center
            line-height: var(--f7-line-height)
            height: 30px

    .toggle-icon
        &::before
            left 0