.page
    &#signup-step1
        background Grey_light_1

        .page-content
            flex-cont(column, flex-start, unset)

            .sqr_bck
                deg = -36deg

                &#sqr1
                    sqr(230px, deg)
                    top -200px
                    right -75px

                &#sqr2
                    sqr(230px, deg)
                    top 55px
                    right -180px

                &#sqr3
                    sqr(230px, deg)
                    top 120px
                    left -200px

            .footer
                overflow hidden
                position relative
                padding-top 350px
                margin -335px -15px -15px -15px
                z-index -1

                .sqr_bck
                    deg = -40deg

                    &#sqr4
                        sqr(290px, -15deg)
                        bottom -250px
                        left -190px
                        z-index -1

            .upload-cont
                flex-grow 0
                flex-cont(row, center, flex-end)
                padding 50px 0px 40px 0px

                .img-btn
                    position absolute
                    transform translate(65px)

            .btns-cont
                flex-grow 0
                padding 60px 0px 50px 0px

            .inputs
                input#signup-birthday
                    --myvar 'Birthday'
                    padding 0
                    height 36px
                    line-height 36px
                    padding-top 0

                    &.aft:after
                        top 50%
                        transform translateY(-50%)
                        content var(--myvar)
                        font-template(100, 16px, 24px)
                        color Grey_dark_2
                        background Grey_light_2
                        width 70%
                        height auto
                        position absolute
                input:-internal-autofill-selected
                        -webkit-box-shadow inset 0 0 0px 9999px rgb(238,238,238)


    &#signup-confirm
        background Grey_light_1

        .page-content
            flex-cont(column, center, unset)
            overflow-y hidden

            .sqr_bck
                deg = -15deg

                &#sqr1
                    sqr(290px, deg)
                    top -230px
                    left -75px

                &#sqr2
                    sqr(230px, deg)
                    bottom -160px
                    left -115px
                    z-index -1

                &#sqr3
                    sqr(230px, deg)
                    bottom -135px
                    right -50px
                    z-index -1

            .logo-cont
                flex-grow 2.5
                flex-cont(column, flex-end, center)

                .logo
                    .background
                        height 178px
                        width 178px
                        box-shadow 7.41667px 11.125px 29.6667px rgba(0, 0, 0, 0.12), -7.41667px -7.41667px 14.8333px rgba(255, 255, 255, 0.9), inset 0px 5px 0px #fdfdfd, inset 0px -5px 0px #f0f0f0

                    .feather
                        position absolute
                        left 50%
                        transform translate(calc(-50% + -18px), -10px)

                    .check
                        position relative
                        right 25px
                        bottom -25px

                        img
                            position unset
                            transform unset
                            left unset

            .text-cont
                flex-grow 1
                flex-cont(row, center, center)
                font-template(500, 20px, 23px)
                color Grey_dark_3

            .btns-cont
                flex-grow 1
                align-items flex-start

.ios
    .page#signup-step1
        .page-content
            display block !important