.page#user-agreement
    background Grey_light_1

    .sqr_bck
        deg = -40deg

        &#sqr1
            sqr(290px, deg)
            bottom -85px
            left -235px

        &#sqr2
            sqr(290px, deg)
            bottom 50px
            right -225px

    .page-content
        flex-cont(column, flex-start, unset)

        .header-cont
            flex-grow 0

            h1
                color Grey_dark_2

        .text-cont
            flex-grow 1

            p
                font-template(normal, 16px, 19px)
                margin 40px 25px
                text-align justify

        .btns-cont
            flex-grow 1
            padding: 30px 0px