.btns-cont
    margin 0px

    &.center
        flex-cont(row, center, center)

    &.two
        flex-cont(row, space-between, center)
        padding 0px 15px

    .button
        height 48px
        width fit-content
        padding 0px 30px
        text-transform unset

        &.round
            border-radius 24px
            font-template(500, 16px, 48px)

            &.face
                color blue_face !important

            &.color-white
                background Grey_light_1
                border 0.5px solid #f4f3f3
                box-shadow-button(white, #f3f3f3)
                color blue_dark

            &.color-blue
                background blue
                border 0.5px solid #e6e6e6
                box-shadow-button(blue_light, blue_dark)
                color white

            &.small
                min-width 118px

            &.large
                min-width 218px

        &.link
            font-template(normal, 16px, 22px)
            height 22px !important

            &.color-blue
                color blue_light

.btn-panel
    height 35px
    width 90%
    font-template(500, 18px, 35px)
    color Grey_dark_2
    padding 0px 7px

    &.active
        color white
        background blue
        border-radius 6px
        box-shadow 0px 2px 4px rgba(0, 0, 0, 0.15)

.menu-btn
    height 34px
    width 34px
    background Grey_light_1
    border-radius 50%
    border 0.354167px solid #F5F5F5
    flex-cont(row, center, center)
    box-shadow 1.25px 1.875px 5px rgba(0, 0, 0, 0.12), -1.25px -1.25px 2.5px rgba(255, 255, 255, 0.9), inset 0px 1px 0px #fdfdfd, inset 0px -1px 0px Grey_light_2

    i
        font-size 20px
        color Grey_dark_1

.back-btn
    height 30px
    width 30px
    background Grey_light_1
    border-radius 50%
    border 0.3125px solid #F5F5F5
    flex-cont(row, center, center)
    box-shadow 1.25px 1.875px 5px rgba(0, 0, 0, 0.12), -1.25px -1.25px 2.5px rgba(255, 255, 255, 0.9), inset 0px 1px 0px #fdfdfd, inset 0px -1px 0px Grey_light_2

    i
        font-size 20px
        color #999999

.img-btn
    height 48px
    width 48px
    background Grey_light_1
    border-radius 50%
    border 0.5px solid #F5F5F5
    flex-cont(row, center, center)
    box-shadow 0px 2px 4px rgba(0, 0, 0, 0.15), inset 0px 1px 0px #fdfdfd, inset 0px -1px 0px #f0f0f0

    i
        font-size 26px
        color blue
        transform translate(0px, 1px)

.close-btn
    height 30px
    width 30px
    background Grey_light_1
    border-radius 50%
    border 0.5px solid #F5F5F5
    flex-cont(row, center, center)
    box-shadow 0px 2px 4px rgba(0, 0, 0, 0.15), inset 0px 1px 0px #fdfdfd, inset 0px -1px 0px #f0f0f0

    i
        font-size 20px
        font-weight bold
        color blue

    &.none
        display none

.add-btn
    height 30px
    width 30px
    background blue
    border-radius 50%
    border 0.3125px solid #E2E2E2
    flex-cont(row, center, center)
    box-shadow 0px 1.25px 2.5px rgba(0, 0, 0, 0.15), inset 0px 1px 0px blue_light, inset 0px -1px 0px blue_dark

    i
        font-size 20px
        font-weight bold
        color Grey_light_1
        transform translate(-0.5px, 0.5px)

    &.none
        display none

.button-plan
    width 100px
    height 98.5px
    background-image url('../static/img/rectangle_white.png')
    background-position center
    background-repeat no-repeat
    filter saturate(0) opacity(0.3)
    flex-cont(column, space-around, center)

    h2, p
        margin 0px

    .title-plan
        font-template(500, 16px, 24px)
        color Grey_light_3

    .price-cont
        flex-cont(row, center, flex-end)

        .symbol
            font-template(500, 18px, 18px)
            color Grey_dark_1

        .price
            font-template(500, 36px, 24px)
            color Grey_dark_1

    .per-month
        font-template(500, 10px, 24px)
        color Grey_light_3

    &.active
        filter unset
        background-image url('../static/img/rectangle.png')

        h2, p
            color Grey_light_1 !important