.btns-cont
    margin 0px

    &.center
        flex-cont(row, center, center)

    &.two
        flex-cont(row, space-between, center)
        padding 0px 15px

    .button
        height 48px
        width fit-content
        padding 0px 30px
        text-transform unset

        &.round
            border-radius 24px
            font-template(500, 16px, 48px)

            &.face
                color blue_face !important

            &.color-white
                background Grey_light_1
                border 0.5px solid #f4f3f3
                box-shadow-button(white, #f3f3f3)
                color blue

            &.color-blue
                background blue
                border 0.5px solid #e6e6e6
                box-shadow-button(#4ad2f2, #17abe9)
                color white

            &.small
                min-width 118px

            &.large
                min-width 218px

        &.link
            font-template(normal, 16px, 22px)
            height 22px !important

            &.color-blue
                color blue

.title-cont
    .back-btn
        height 30px
        width 30px
        background Grey_light_1
        border-radius 50%
        flex-cont(row, center, center)
        box-shadow 1.25px 1.875px 5px rgba(0, 0, 0, 0.12), -1.25px -1.25px 2.5px rgba(255, 255, 255, 0.9), inset 0px 1.5px 0px white, inset -1px -2px 0px y

        i
            font-size 20px
            color #999999
