.card
    background Grey_light_1
    border-radius 11px
    border 1px solid #ECECEC
    box-shadow 2px 3px 8px rgba(0, 0, 0, 0.12), -2px -2px 4px rgba(255, 255, 255, 0.9)
    overflow hidden
    max-width 100%

    &.simple
        height 100px
        width 280px

        &.prev
            width 100%
            height 230px
            margin 0px

            .card-header
                .title-card
                    width 100%
                    padding-top 20px

                    h1
                        font-template(500, 20px, 23px)
                        color Grey_dark_3
                        margin 0px
                        text-align center

                    p
                        margin 0px
                        font-template(normal, 10px, 12px)
                        color Grey_light_3
                        text-align center

                &:after
                    content none

            .card-content
                .cover
                    width 100%
                    height 155px
                    border-radius 8px
                    padding 7px
                    box-sizing border-box

                    img
                        object-fit cover
                        width 100%
                        height 100%
                        border-radius 8px

        &.donate
            width 250px
            height 244px
            margin 0px
            padding 20px
            box-sizing border-box
            flex-cont(column, center, stretch)

            .card-content
                .cover
                    flex-cont(row, center, center)

                p.type
                    font-template(500, 14px, 16px)
                    text-align center
                    color Grey_dark_1
                    margin 20px auto 3px auto

                h1.title
                    font-template(bold, 26px, 30px)
                    text-align center
                    color Grey_dark_3
                    margin 0px auto

                p.price
                    font-template(normal, 16px, 19px)
                    text-align center
                    color Grey_dark_2
                    margin 5px 20px 3px 20px

                    &.heart
                        border-bottom 0.5px solid Grey_dark_1

                    span
                        position absolute
                        right 25px
                        bottom 5px
                        color Grey_dark_1
                        font-size 16px

    &.complete
        &.v1
            width auto
            height 340px

            .card-header
                &:after
                    content none

            .card-footer
                &:before
                    content none

            .card-header
                padding 8px 15px
                flex-cont(row, space-between, center)

                .title-card
                    flex-cont(column, flex-start, flex-start)

                    h1
                        margin 0px
                        font-template(500, 20px, 23px)
                        color Grey_dark_3

                    p
                        margin 0px
                        font-template(500, 14px, 16px)
                        color Grey_dark_1

                .edit
                    flex-cont(row, center, center)
                    font-size 20px
                    color Grey_dark_3

            .card-content
                flex-cont(column, center, stretch)
                padding 0px 16px

                .cover
                    width 100%
                    height 150px
                    padding 5px 5px 7px 5px
                    box-sizing border-box

                    img
                        object-fit cover
                        width 100%
                        height 100%
                        border-radius 8px

                .icons
                    flex-cont(row, space-between, center)
                    padding 0px 5px 25px 5px

                    a
                        span
                            color Grey_light_2

                            &.active
                                color blue

            .card-footer
                flex-cont(row, flex-start, center)
                padding 25px 18px

                .contacts
                    width 80%
                    flex-cont(row, flex-start, center)

                    .person
                        width 35px
                        height 35px
                        border-radius 50%
                        margin-right 10px

                        &.plus
                            box-shadow inset 0px -1.5px 0px Grey_light_1, inset 1px 1.5px 0px #e7e6e6
                            border 0.364583px solid #ECECEC
                            border-radius 50%
                            background-color Grey_light_2
                            flex-cont(row, center, center)

                            p
                                margin 0px
                                font-template(500, 11px, 13px)
                                color Grey_dark_1

        &.v_dashboard_memory
            width 300px
            height 500px
            margin auto
            max-height 70vh

            .card-header
                .info
                    position absolute
                    top 10px
                    right 7px

                    span
                        color Grey_light_3
                        font-size 20px

                .title-card
                    width 100%
                    padding-top 20px

                    h1
                        font-template(500, 20px, 23px)
                        color Grey_dark_3
                        margin 0px
                        text-align center

                    p
                        margin 0px
                        font-template(normal, 10px, 12px)
                        color Grey_light_3
                        text-align center

                &:after
                    content none

            .card-content
                padding-top 4px

                .cover
                    width 284px
                    height 155px
                    box-shadow 0px 2.73529px 9.11765px rgba(0, 0, 0, 0.15)
                    border-radius 8px
                    margin 0px auto

                    img
                        object-fit cover
                        width 100%
                        height 100%
                        border-radius 8px

                .desc
                    text-align center
                    font-template(normal, 14px, 16px)
                    color Grey_dark_2
                    margin 16px 8px

                .icons
                    padding 25px 8px
                    flex-cont(row, space-evenly, center)

                    span
                        font-size 24px
                        color blue_light

                        &.grey
                            color Grey_light_2

            .card-footer
                justify-content center
                padding 20px 8px

                .btns-cont
                    margin 0px !important

                &:before
                    content none

        &.v_notification_memory
            width 305px
            height 300px
            margin auto

            .card-header
                .info
                    position absolute
                    top 10px
                    right 7px

                    span
                        color Grey_light_3
                        font-size 20px

                .title-card
                    width 100%
                    padding-top 20px

                    h1
                        font-template(500, 20px, 23px)
                        color Grey_dark_3
                        margin 0px
                        text-align center

                    p
                        margin 0px
                        font-template(normal, 10px, 12px)
                        color Grey_light_3
                        text-align center

                &:after
                    content none

            .card-content
                padding-top 4px

                .cover
                    width 284px
                    height 155px
                    box-shadow 0px 2.73529px 9.11765px rgba(0, 0, 0, 0.15)
                    border-radius 8px
                    margin 0px auto

                    img
                        object-fit cover
                        width 100%
                        height 100%
                        border-radius 8px

                .icons
                    padding 25px 8px
                    flex-cont(row, space-evenly, center)

                    span
                        font-size 24px
                        color blue_light

                        &.grey
                            color Grey_light_2

    &.card-expandable
        border none
        margin 8px
        height 485px
        width auto

        .card-content
            width 100%
            height unset

        .bg-video
            position relative
            background white
            height 384px
            width auto
            overflow hidden
            flex-cont(row, center, center)

            span
                font-size 100px
                color Grey_light_2

            .sqr_bck
                width 80px
                height 80px
                background Grey_light_2
                box-shadow 2px 3px 8px rgba(black, 0.12), -2px -2px 4px rgba(white, 0.9)
                border-radius 6px
                transform rotate(-40deg)
                position absolute

                &#sqr6
                    width 60px
                    height 60px
                    bottom 55px
                    left -5px
                    z-index 1

                &#sqr7
                    bottom -45px
                    left 15px
                    z-index 1

                &#sqr8
                    bottom -40px
                    left -55px
                    z-index 1

        .card-content-padding
            width auto
            height 100px
            background Grey_light_2
            box-sizing border-box
            z-index 2
            flex-cont(column, center, center)

            .btns-cont
                max-width 100%
                flex-cont(column, center, center)

                .btn-card
                    border-radius 9px
                    width 238px
                    max-width 100%
                    height 48.3px
                    background blue_dark
                    color Grey_light_1
                    flex-cont(row, center, center)

        &.card-opened
            .card-content
                flex-cont(column, unset, unset)

                .bg-video
                    height 192px
                    width 100%

                .card-content-padding
                    flex-grow 1
                    width 100%
                    flex-cont(column, flex-start, unset)

            .card-opened-fade-out
                display none

            .card-opened-fade-in
                display block

        .card-opened-fade-in
            display none