.card
    background Grey_light_1
    border-radius 11px
    border 1px solid #ECECEC
    box-shadow 2px 3px 8px rgba(0, 0, 0, 0.12), -2px -2px 4px rgba(255, 255, 255, 0.9)
    overflow hidden

    &.simple
        height 100px
        width 280px

    &.complete
        &.v1
            width 272px
            height 340px

            .card-header
                &:after
                    content none

            .card-footer
                &:before
                    content none

            .card-header
                padding 8px 15px
                flex-cont(row, space-between, flex-start)

                .title-card
                    flex-cont(column, flex-start, flex-start)

                    h1
                        margin 0px
                        font-template(500, 20px, 23px)
                        color Grey_dark_3

                    p
                        margin 0px
                        font-template(500, 14px, 16px)
                        color Grey_dark_1

                .edit
                    font-size 20px
                    color Grey_dark_3

            .card-content
                flex-cont(column, center, center)
