.header-cont
    padding 10px 15px
    width 100%

    .header
        flex-cont(row, space-between, center)

        h1.title
            font-template(500, 20px, 23px)
            color Grey_dark_3

        .none
            height 30px
            width 30px