.header-cont
    padding 0px 13px

    .header
        flex-cont(row, space-between, center)

        h1.title
            font-template(500, 20px, 23px)

        .none
            height 30px
            width 30px