.header-cont
    padding 10px 15px
    width 100%

    .header
        flex-cont(row, space-between, center)

        h1.title
            font-template(500, 20px, 23px)
            color Grey_dark_3

        .none
            height 30px
            width 30px

        .title-sub
            flex-cont(column, center, center)

            h1, p
                margin 0px

            h1.title
                font-template(500, 24px, 28px)
                color Grey_dark_3

            p.subtitle
                font-template(normal, 14px, 16px)
                color Grey_light_3

        .avatar-fab
            height 50px
            width 50px
            display flex

            img
                width 100%
                border-radius 50%
