.panel-left
    padding 15px
    background Grey_light_1
    overflow hidden

    .sqr_bck
        deg = -40deg

        &#sqr1
            sqr(500px, deg)
            bottom 400px
            left -145px
            z-index -1

        &#sqr2
            sqr(400px, deg)
            bottom 35px
            right -325px
            z-index -1

        &#sqr3
            sqr(400px, deg)
            bottom -10px
            left -365px
            z-index -1

    .profile
        margin 15px 0px 30px 0px
        flex-cont(row, flex-start, center)

        .avatar
            flex-grow 0
            margin 0px 12px 0px 5px
            height 55px
            width 55px
            display flex

            img
                width 100%
                border-radius 50%

        .text
            flex-grow 1
            flex-cont(column, center, flex-start)

            .name-cont
                width 100%
                flex-cont(row, space-between, center)

                h1.name
                    font-template(500, 18px, 21px)
                    color Grey_dark_3
                    margin 0px

                span
                    color Grey_light_3
                    transform rotate(-10deg)

            p
                margin 0px
                font-template(normal, 12px, 14px)
                color Grey_dark_3

    .btns-cont
        flex-cont(column, flex-start, flex-start)

        .btn-panel
            margin 2px 0px

    .footer
        position absolute
        bottom 0
        left 0
        width 100%
        padding 15px
        box-sizing border-box
        background Grey_light_2
        flex-cont(column, flex-start, flex-start)

        .btn-end
            padding 0px 5px
            font-template(500, 18px, 40px)
            width 100%
            box-sizing border-box

            &.terms,&.lenguage
                color Grey_dark_1

            &.sign-out
                color Grey_dark_2