.list
    &.media-list
        .item-content
            .item-media
                img
                    border-radius 50%

            .item-title-row
                &:before
                    content none

                .item-title
                    font-template(500, 18px, 24px)
                    color Grey_dark_3

            .item-text
                font-template(normal, 16px, 24px)
                color Grey_dark_3