navbar-temp()
    background unset
    height 70px
    transition all 0.3s ease-in-out

    .navbar-inner
        overflow visible

    &.bg-white
        background Grey_light_1

    &.navbar-hidden-statusbar
        transform translateY(-70px)

    &.navbar-photo-browser
        background Grey_light_1

.page, .popup
    .navbar
        position absolute
        navbar-temp()

.md
    .page, .popup
        .navbar + .page-content
            padding-top 70px

.ios
    .navbars
        .navbar
            navbar-temp()

            &.navbar-previous
                display none

        & + .page-current
            .page-content
                padding-top 70px

        &.navbar-hidden + .page-current
            .page-content
                padding-top 15px

        &.navbar-hidden-statusbar
            transform translateY(-70px)
