navbar-temp()
    background unset
    height 70px
    transition all 0.3s ease-in-out

    &.bg-white
        background Grey_light_1

    &.navbar-hidden-statusbar
        transform translateY(-70px)

    &.navbar-photo-browser
        background Grey_light_1

.page
    .navbar
        navbar-temp()

.md
    .page
        :not(.navbar) + .page-content
            padding-top 15px

.ios
    .navbars
        .navbar
            navbar-temp()

            &.navbar-previous
                display none

        &.navbar-hidden + .page-current
            .page-content
                padding-top 15px
