.popup
    &.popup-admin
        width 300px
        height 290px
        position absolute
        top 50%
        left 50%

    &.modal-in
        transform translate(-50%, -50%)

    &.modal-out
        transform translate(-50%, 100%)