.popup
    border-radius 10px

    &.popup-admin, &.popup-admin-relation
        overflow unset
        padding 20px
        width 300px
        height 290px
        position absolute
        top 50%
        left 50%

        .title
            font-template(500, 24px, 28px)
            text-align center
            color Grey_dark_3
            margin 20px 0px 15px 0px

        p.content
            font-template(normal, 14px, 18px)
            text-align center
            color black
            margin 15px 0px 20px 0px

        .background
            border-radius 10px
            position absolute
            overflow hidden
            top 0px
            left 0px
            height 100%
            width 100%
            z-index -2

            .sqr_bck
                deg = -36deg

                &#sqr1
                    sqr(100px, deg)
                    border-radius 15px
                    top -30px
                    left -65px

                &#sqr2
                    sqr(150px, deg)
                    border-radius 15px
                    bottom -110px
                    right -50px

    &.modal-in
        display flex !important
        flex-cont(column, center, center)
        transform translate(-50%, -50%)

    &.modal-out
        transform translate(-50%, 100%)

    .close-btn
        position absolute
        top -15px
        right -15px
        height 48px
        width 48px
        background Grey_light_1
        border-radius 50%
        border 0.3125px solid #F5F5F5
        flex-cont(row, center, center)
        box-shadow 2px 3px 8px rgba(0, 0, 0, 0.12), inset 0px 1px 0px #fdfdfd, inset 0px -1px 0px #f0f0f0

        i
            font-size 26px
            font-weight bold
            color blue

    &.popup-demand
        width 290px
        height 50px
        position absolute
        top 50%
        left 50%
        border-radius 5px

        p
            font-template(normal, 14px, 16px)
            color Grey_dark_3

        &.modal-out
            transform translate(100%, 100%)

    &.popup-deliver
        width 330px
        height 500px
        position absolute
        top 50%
        left 50%
        border-radius 10px
        padding 15px
        flex-cont(column, space-between, stretch)

        h1
            font-template(500, 18px, 16px)
            margin 0px
            color Grey_dark_3

        .immediately-cont
            padding 20px 10px
            flex-cont(row, space-between, center)

        .inputs
            ul
                &:before, &:after
                    content none

                .item-input
                    padding-left 0px

                    .item-inner
                        padding-right 0px
                        flex-grow 1
                        flex-cont(column, flex-start, stretch)

                        .item-input-wrap
                            width auto

                            input
                                color blue_dark
                                font-template(500, 18px, 24px)

                                &::-webkit-inner-spin-button, &::-webkit-calendar-picker-indicator
                                    position absolute
                                    opacity 0
                                    width 100%
                                    -webkit-appearance none

                        .label
                            padding-left 10px
                            font-template(500, 18px, 24px)
                            color Grey_dark_3

                        &:last-child
                            width 39%
                            margin-left 4px

                        &:first-child
                            width 59%
                            margin-right 4px

        .repeat-cont, .end-repeat-cont
            padding 0px 0px 10px 10px
            flex-cont(row, space-between, center)

            .inputs
                .item-inner
                    margin 0px !important
                    padding 0px

                    .select
                        i, p
                            color blue_dark

        .end-repeat-cont
            padding 10px 0px 10px 10px

            .inputs
                width 63%

        .footer
            padding 10px
            font-template(normal, 14px, 16px)
            color Grey_light_3
            border-bottom: 0.4px solid #d2d2d2

        .btns-cont
            margin-top 20px
            &.grey
                filter: grayscale(1);

.popover
    border-radius 11px
    background white
    border 1px solid #EBEBEB
    padding 0px 17px

    .none
        display none

    &.popover-opt
        width 120px
        height 85px
        .none
            display none

    &.popover-person
        width 150px
        height 85px

    &.popover-opt, &.popover-person
        .list
            li
                border-top 0.5px solid Grey_light_1
                border-bottom 0.5px solid Grey_light_1

                &:first-child
                    border-top none

                &:last-child
                    border-bottom none

                .list-button
                    padding 0px 5px
                    font-template(500, 18px, 41px)
                    color Grey_dark_1
        &.space-on-left
            transform: translateX(-15%)

    &.popover-repeat
        --f7-popover-width 190px
        padding 5px 10px

        li
            display flex
            border-bottom 0.5px solid Grey_light_2

            &:last-child
                border-bottom none

            .list-btn
                width 100%
                font-template(normal, 18px, 35px)
                color Grey_dark_1

                &.checked:after
                    content 'done'
                    font-family Material Icons
                    font-weight normal
                    font-style normal
                    font-size 24px
                    color blue_light
                    margin 0px 0px 0px 0px
                    text-decoration none
                    position absolute
                    right 10px


.ios
    .popover-opt.space-on-left
        transform: translateX(-30%)
