.toolbar
    height 55px
    width 80%
    left 50%
    transform translateX(-50%)
    box-shadow 0px 2px 15px rgba(0, 0, 0, 0.05)
    border-radius 10px 10px 0px 0px
    background white !important
    max-width 400px

    .toolbar-inner
        justify-content space-evenly

        .item-link
            flex-cont(column, center, center)

            .cloud
                font-size 30px
                color blue_dark
                &.grey
                    color Grey_dark_1
            
            .people
                font-size 20px
                color white
                margin -24px auto 0px auto

            span
                font-template(normal, 12px ,14px)
                text-align center
                color Grey_dark_1
                &.two
                    margin-top 4px

    &:after, &:before
        content none

    &.none
        display none

    & + .page-content
        padding-bottom 55px !important