.page
    &#memories-dashboard
        background Grey_light_1

        .page-content
            /* temp */
            flex-cont(column, unset, unset)

            .swiper-container
                flex-grow 1

            /* ------------- */
            .sqr_bck
                deg = -37.5deg

                &#sqr1
                    sqr(290px, deg)
                    top -55px
                    right -270px
                    z-index -1

                &#sqr2
                    sqr(400px, deg)
                    bottom -110px
                    left -345px
                    z-index -1

                &#sqr3
                    sqr(290px, deg)
                    bottom -50px
                    right -200px
                    z-index -1

            .footer
                overflow hidden
                position relative
                padding-top 350px
                margin -335px -15px -15px -15px
                z-index -1

                .sqr_bck
                    deg = -40deg

                    &#sqr4
                        sqr(290px, -15deg)
                        bottom -250px
                        left -190px
                        z-index -1