.page
    &#notification-memory
        background Grey_light_1

        .page-content
            flex-cont(column, space-between, stretch)

            .sqr_bck
                deg = -27deg

                &#sqr1
                    sqr(400px, deg)
                    top -415px
                    right -130px
                    z-index -1

                &#sqr2
                    sqr(400px, deg)
                    top -65px
                    right -405px
                    z-index -1

            .footer
                overflow hidden
                position relative
                padding-top 350px
                margin -310px -15px -15px -15px
                z-index -1

                .sqr_bck
                    &#sqr3
                        sqr(500px, 80deg)
                        bottom -400px
                        left -275px
                        z-index -1

                    &#sqr4
                        sqr(400px, 80deg)
                        bottom -325px
                        right -325px
                        z-index -1

            .title
                font-template(500, 24px, 28px)
                text-align center
                color Grey_dark_3
                margin 0px 15px 0px 15px
                flex-grow 1

            .desc
                flex-grow 0
                margin 0px 30px
                padding-top 15px
                font-template(500, 14px, 16px)
                text-align center
                color Grey_dark_1

            .btns-cont
                flex-grow 2

                &#remind
                    align-items flex-end

                &#view-memory
                    flex-grow 8
                    align-items flex-start
                    padding-top 30px

            .card
                flex-grow 0

            .none
                display none