.page
    &#create-contact, &#create-guardian
        background Grey_light_1

        .page-content
            flex-cont(column, flex-start, unset)

            .sqr_bck
                deg = -36deg

                &#sqr1
                    sqr(230px, deg)
                    top -200px
                    right -95px
                    z-index -1

                &#sqr2
                    sqr(230px, deg)
                    top 55px
                    right -180px
                    z-index -1

                &#sqr3
                    sqr(230px, deg)
                    top 120px
                    left -200px
                    z-index -1

            .footer
                overflow hidden
                position relative
                padding-top 350px
                margin -335px -15px -15px -15px
                z-index -1

                .sqr_bck
                    deg = -36deg

                    &#sqr4
                        sqr(290px, deg)
                        bottom -250px
                        left -190px
                        z-index -1

                    &#sqr5
                        sqr(290px, deg)
                        bottom -60px
                        right -290px
                        z-index -1

            .header-cont
                flex-grow 0

            .upload-cont
                flex-grow 1
                flex-cont(row, center, flex-end)
                padding 50px 0px 40px 0px

                .upload-img
                    height 114px
                    width 114px
                    background-image url(../../../../static/img/Busto.png)
                    background-size 53px 58px
                    background-position-y 45%

                    .photo
                        width 114px
                        height 114px

                .img-btn
                    position absolute
                    transform translate(45px, 15px)

            .inputs
                flex-grow 1

                .item-content.item-checkbox
                    width 100%

                input#birthday,input#create-cont-birthday
                    --birthday 'Birthday'
                    &.aft:after
                        top 50%
                        transform translateY(-50%)
                        content var(--birthday)
                        font-template(100, 16px, 24px)
                        color Grey_dark_2
                        background Grey_light_2
                        width 70%
                        height auto
                        position absolute

            .btns-cont
                flex-grow 1
                padding 25px 0px 25px 0px

                &.none
                    display none

.ios
    .page
        &#create-contact, &#create-guardian
            .page-content
                display block !important
