.page
    &#invite-admin
        background Grey_light_1

        .sqr_bck
            deg = 35deg

            &#sqr1
                sqr(290px, deg)
                top -90px
                right -275px

            &#sqr2
                sqr(290px, deg)
                bottom -85px
                left -265px

            &#sqr3
                sqr(290px, deg)
                bottom -290px
                left -15px

    .page-content
        &#invite-admin
            flex-cont(column, center, unset)

            .header-cont
                flex-grow 0

            .logo-cont
                flex-grow 2
                flex-cont(column, center, center)

            .text-cont
                flex-grow 0
                padding 0px 40px
                flex-cont(column, center, center)

                .text
                    margin 0px

            .inputs
                flex-grow 0

            .btns-cont
                flex-grow 2
