@import 'stylus/constants/*'
@import 'stylus/components/*'
@import 'stylus/pages/login/*'
@import 'stylus/pages/signup/*'
@import 'stylus/pages/contact/*'
@import 'stylus/pages/family/*'
@import 'stylus/pages/membership/*'
@import 'stylus/pages/memories/*'
@import 'stylus/media/media.styl'

.page
    background Grey_light_1

    .page-content
        padding 15px
        position absolute
        width 100%
        overflow-x hidden

        .list ul
            background none

            &:before, &:after
                content none

        p.text
            font-template(normal, 14px, 24px)
            text-align center
            color Grey_dark_3

