@import 'stylus/constants/*'
@import 'stylus/components/*'
@import 'stylus/pages/login/*'
@import 'stylus/pages/signup/*'
@import 'stylus/pages/contact/*'

.page
    .page-content
        padding 15px
        position absolute
        width 100%

        .list ul
            background none

            &:before, &:after
                content none

        p.text
            font-template(normal, 14px, 24px)
            text-align center
            color Grey_dark_3