@import 'stylus/constants/*'
@import 'stylus/components/*'
@import 'stylus/pages/login/*'
@import 'stylus/pages/signup/*'
@import 'stylus/pages/contact/*'
@import 'stylus/pages/family/*'

.page
    .page-content
        padding 15px
        position absolute
        width 100%

        .list ul
            background none

            &:before, &:after
                content none

        p.text
            font-template(normal, 14px, 24px)
            text-align center
            color Grey_dark_3

@media screen and (min-width 1024px) and (orientation landscape)
    .page
        .artwork
            background blue_light
            position absolute
            width 30%
            height 100%
            top 0
            left 0

        .page-content
            position absolute
            width 70%
            right 0
            top 0